html, body {
    height: 100%;
    margin: 0px;
}

.index-body {
    background-image: url(/front-end/Images/background/escuela.jpg);
    background-size: cover;
    background-position: center;
}

.menu-container {
    text-align: center;
    height: 100%;
}

.menu-options-container {
    width: 100%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.menu-wrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: inherit;
    justify-content: center;
    overflow: auto;
}

.object {
    max-width: 70%;
}

.congratulations {
    font-size: 50px;
}

.lower-text-wrapper {
    margin: 2px;
}

@media (min-width: 361px) {
    .menu-wrapper {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .menu-wrapper {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .menu-wrapper {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .menu-wrapper {
        width: 40%;
    }
}

/*
Extra small <576px
Small ≥576px
Medium ≥768px
Large ≥992px
Extra large ≥1200px
*/