#main-container, html, body
{
    height: 100%;
}

#main-container{
    position: relative;
    display: none;
    padding-left: 0px;
    padding-right: 0px;
}

.interaction-container{
    height: 75%;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.hasPointer:hover{
    cursor: pointer;
}

.container-character{
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container-dialogue{
    text-align: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: 55%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container-dialogue-teacher {
    background-color: rgba(2, 136, 209, 0.6);
}

.teacher{
    width: 35%;
    visibility: hidden;
    bottom: 0px;
    position: absolute;
    right: 0px;
}

.character{
    float: left;
    width: 35%;
    bottom: 0px;
    position: absolute;
}

.hack-img {
    height: 200px;
}

.hack-img:hover {
    cursor: pointer;
}

.hack-wrapper {
    text-align: center;
}

.hack-text {
    color: white;
    font-size: 30px;
}

#character-name-container {
    position: absolute;
    bottom: 0px;
    background-color: rgba(184, 73, 15, 0.6);
    text-align: center;
}

.toLeft {
    left: 0%;
}

.toRight {
    right: 0%;
}

.speaker-name {
    color: white;
    margin-bottom: auto;
    margin-top: auto;
}

.character-image-wrapper{
    height: 100%;
}

#background{
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dialogue{
    margin: auto;
    color: white;
    display: inline-block;
    font-size: 10px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12px;
}

@media (min-width: 768px) {
    .dialogue {
        font-size: 16px;
    }
    .interaction-container {
        bottom: 5%;
    }
    .container-character {
        height: 65%;
    }
    .container-dialogue {
        height: 35%;
    }
    .character {
        width: 22%;
    }
    .teacher {
        width: 22%;
    }
}

@media (min-width: 1200px) {
    .dialogue {
        font-size: 17px;
    }
}

#clickToNext{
    height: 8%;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

.button-container {
    display: flex;
    height: 60%;
    margin-bottom: 1%;
}

.option-button {
    border: none;
    background-color: tomato;
    width: 30%;
    height: 100%;
}

.teacher-help {
    float: right;
    color: cyan;
}

.back-arrow {
    bottom: auto;
}
