#main-container, html, body
{
    height: 100%;
}

#main-container{
    position: relative;
    visibility: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.interaction-container{
    height: 75%;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.hasPointer:hover{
    cursor: pointer;
}

.container-character{
    max-width: 90%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-dialogue{
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    height: 55%;
    position: relative;
}

.container-dialogue-teacher {
    background-color: rgba(2, 136, 209, 0.6);
}

.teacher{
    float: right;
    height: 100%;
    max-width: 50%;
    visibility: hidden;
}

.character{
    float: left;
    height: 100%;
    max-width: 50%;
}

.fullBrightness {
    filter: brightness(100%);
}

.quarterBrightness {
    filter: brightness(25%);
}

#bottom-left {
    position: absolute;
    bottom: 55%;
    left: 0%;
    background-color: rgb(184, 73, 15, 0.6);
    text-align: center;
}

.speaker-name {
    color: white;
    margin-bottom: auto;
    margin-top: auto;
}

.character-image-wrapper{
    height: 100%;
}

#background{
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

.dialogue{
    margin: auto;
    color: white;
    display: inline-block;
    font-size: 10px;
}
  
@media (min-width: 768px) {
    .dialogue {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .dialogue {
        font-size: 20px;
    }
}

.clickToNext{
    height: 20%;
    position: absolute;
    right: 2%;
    bottom: 10%;
}

.option-button {
    height: 50%;
    border: none;
    background-color: tomato;
    margin-left: 0.25%;
    margin-right: 0.25%;
    box-sizing: content-box;
    width: 30%;
}

.teacher-help {
    float: right;
    color: cyan;
}

