#main-container, html, body
{
    height: 100%;
}

#main-container{
    position: relative;
    border-style: solid;
    visibility: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.interaction-container{
    border-style: solid;
    height: 60%;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.hasPointer:hover{
    cursor: pointer;
}

.container-character{
    max-width: 90%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.container-dialogue{
    text-align: center;
    display: block;
    background-color: aquamarine;
    height: 40%;
    border-style: solid;
    position: relative;
}

.teacher{
    float: right;
    height: 100%;
    max-width: 50%;
}

.character{
    float: left;
    height: 100%;
    max-width: 50%;
}

.character-image-wrapper{
    height: 100%;
}

#background{
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

.dialogue{
    margin: auto;
}

.clickToNext{
    height: 20%;
    position: absolute;
    right: 2%;
    bottom: 10%;
}

.option-button {
    height: 50%;
    border: none;
    background-color: tomato;
    margin-left: 0.25%;
    margin-right: 0.25%;
}

