html, body {
    height: 100%;
}

.index-body {
    background-image: url(/front-end/Images/background/escuela.jpg);
    background-size: cover;
    background-position: center;
}

.menu-container {
    text-align: center;
    height: 100%;
}

.menu-object-wrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.eraMenuBody {
    /*
    background-image: url(../Images/background/biblioteca-vacia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: black;
}

.selectable-object-container {
    top: 5%;
    width: 100%;
}

.selectable-object {
    width: 100%;
    height: 100%;
}

.selectable-object-wrapper {
    width: 30%;
    display: inline-block;
    margin: 1% 1% 0% 1%;
}

.selectable-object-wrapper:hover {
    border: solid;
    border-color: yellow;
}

.gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.one {
    filter: linear-gradient(to right, blue 50%, yellow 50%)
}

.show {
    display: block;
}

.hide {
    display: none;
}

#modal-container{
    opacity:0.8;
    background-color:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
#modal-background{
    background-color: white;
    position: fixed;
    width: 70%;
    height: 70%;
    top: 5%;
    left: 15%;
    z-index: 1001;
}

.characters-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.simple-character-wrapper {
    flex-basis: auto;
    flex: 1;
    height: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #412c1d;
}

.character-pic {
    flex: 2;
    background-size: cover;
}

.man {
    background-image: url(/front-end/Images/menu-characters/man.png);
}

.woman {
    background-image: url(/front-end/Images/menu-characters/woman.png);
}

.boy {
    /*background-image: url(/front-end/Images/menu-characters/boy.jpg);*/
}

.girl {
    /*background-image: url(/front-end/Images/menu-characters/girl.png);*/
}

.character-text-wrapper {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.character-text {
    margin: 8px;
}

.character-button-to-play {
    flex: 1;
}

.start-game-button {
    margin-top: 10%;
}

@media (min-width: 768px) {
    .menu-object-wrapper {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .menu-object-wrapper {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .menu-object-wrapper {
        width: 40%;
    }
    .index-body {
        background-size: 1920px 1080px;
    }
}
/*
Extra small <576px
Small ≥576px
Medium ≥768px
Large ≥992px
Extra large ≥1200px
*/