html, body {
    height: 100%;
}

.index-body {
    background-image: url(/front-end/Images/background/escuela.jpg);
    background-size: cover;
    background-position: center;
}

.menu-container {
    text-align: center;
    height: 100%;
}

.menu-object-wrapper {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.eraMenuBody {
    /*
    background-image: url(../Images/background/biblioteca-vacia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    */
    background-color: black;
}

.selectable-object-container {
    top: 5%;
    width: 100%;
}

.selectable-object {
    width: 100%;
    height: 100%;
}

.selectable-object-wrapper {
    width: 30%;
    display: inline-block;
    margin: 1% 1% 0% 1%;
}

.selectable-object-wrapper:hover {
    border: solid;
    border-color: yellow;
}

.gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.one {
    filter: linear-gradient(to right, blue 50%, yellow 50%)
}

@media (min-width: 768px) {
    .menu-object-wrapper {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .menu-object-wrapper {
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .menu-object-wrapper {
        width: 40%;
    }
    .index-body {
        background-size: 1920px 1080px;
    }
}
/*
Extra small <576px
Small ≥576px
Medium ≥768px
Large ≥992px
Extra large ≥1200px
*/